---
import "../styles/global.css";
import SEO from "@components/SEO.astro";
import { siteConfig } from "@config/site";
import type { SEOProps } from "@types/seo";

const seo: SEOProps = Astro.props;
---
<!doctype html>
<html lang={siteConfig.locale}>
<head>
    <meta charset="UTF-8" />
    <meta name="viewport" content="width=device-width" />

    <link rel="icon" type="image/svg+xml" href="/favicon.svg" />
    <link rel="icon" href="/favicon.ico" />
    <meta name="generator" content={Astro.generator} />

    <SEO {...seo} />

    <link rel="sitemap" href="/sitemap-index.xml" />
    <link
            rel="alternate"
            type="application/rss+xml"
            title={siteConfig.title}
            href="/rss.xml"
    />
<body>
<slot />
</body>
</html>